<div class="container-fluid">
    <div class="row justify-content-center gy-5">
      <div class="col-9 text-center">
          <h1> Welcome to Medicare</h1>
          <hr>
      </div>
      <div class="col-4 text-start position-relative top-20 start-0"><br>

        
                <li>
                    <a routerLink="/custLogin">Login as Customer</a>
                </li>
        
                <li>
                    <a routerLink="/empLogin">Login as Admin</a>
                </li>

                <li>
                  <a routerLink="/newCustomer">New Customer ? Sign Up please </a>
              </li>
            
        
    </div>
      <div class="col-6"><img src="assets/images/header-html1.png/" class="rounded float-end"></div>
    </div>
  </div>
